USE [FMSDB]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 28-Feb-26 12:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ManagerName] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[FoundedYear] [int] NOT NULL,
	[PerformanceRate] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Clubs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 28-Feb-26 12:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[MatchId] [int] NOT NULL,
	[GoalType] [nvarchar](max) NOT NULL,
	[Minute] [int] NOT NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 28-Feb-26 12:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstTeamId] [int] NOT NULL,
	[SecondTeamId] [int] NOT NULL,
	[RefereeId] [int] NOT NULL,
	[StadiumId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 28-Feb-26 12:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClubId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[JerseyNumber] [int] NOT NULL,
	[Nationality] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referees]    Script Date: 28-Feb-26 12:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[ExperienceLevel] [int] NOT NULL,
	[Nationality] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Referees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stadiums]    Script Date: 28-Feb-26 12:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadiums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[PitchType] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Stadiums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clubs] ON 

INSERT [dbo].[Clubs] ([Id], [Name], [ManagerName], [Country], [FoundedYear], [PerformanceRate]) VALUES (1, N'Manchester City', N'Pep Guardiola', N'Spain', 1880, N'2nd (English Premier League)')
INSERT [dbo].[Clubs] ([Id], [Name], [ManagerName], [Country], [FoundedYear], [PerformanceRate]) VALUES (2, N'Liverpool', N'Arne Slot', N'Netherlands', 1892, N'6th (English Premier League)')
INSERT [dbo].[Clubs] ([Id], [Name], [ManagerName], [Country], [FoundedYear], [PerformanceRate]) VALUES (3, N'Real Madrid', N'Arbeloa', N'Spain', 1902, N'2nd (Spanish La Liga)')
SET IDENTITY_INSERT [dbo].[Clubs] OFF
GO
SET IDENTITY_INSERT [dbo].[Goals] ON 

INSERT [dbo].[Goals] ([Id], [PlayerId], [TeamId], [MatchId], [GoalType], [Minute]) VALUES (1, 1, 1, 1, N'Header', 24)
INSERT [dbo].[Goals] ([Id], [PlayerId], [TeamId], [MatchId], [GoalType], [Minute]) VALUES (2, 12, 3, 1, N'Clinical Finish', 42)
INSERT [dbo].[Goals] ([Id], [PlayerId], [TeamId], [MatchId], [GoalType], [Minute]) VALUES (3, 10, 3, 1, N'Long Shot', 88)
SET IDENTITY_INSERT [dbo].[Goals] OFF
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([Id], [FirstTeamId], [SecondTeamId], [RefereeId], [StadiumId], [Title], [Date]) VALUES (1, 1, 3, 1, 1, N'Manchester-Mardrid match', CAST(N'2026-12-12' AS Date))
INSERT [dbo].[Matches] ([Id], [FirstTeamId], [SecondTeamId], [RefereeId], [StadiumId], [Title], [Date]) VALUES (2, 2, 4, 2, 2, N'Liverpool-Arsenal match', CAST(N'2026-10-10' AS Date))
INSERT [dbo].[Matches] ([Id], [FirstTeamId], [SecondTeamId], [RefereeId], [StadiumId], [Title], [Date]) VALUES (3, 5, 6, 3, 3, N'LosAngelas-ALtanas match', CAST(N'2026-09-11' AS Date))
SET IDENTITY_INSERT [dbo].[Matches] OFF
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([Id], [ClubId], [Name], [Surname], [Position], [JerseyNumber], [Nationality], [DateOfBirth]) VALUES (1, 1, N'Erling', N'Haaland', N'FW', 9, N'Norway', CAST(N'2000-07-21' AS Date))
INSERT [dbo].[Players] ([Id], [ClubId], [Name], [Surname], [Position], [JerseyNumber], [Nationality], [DateOfBirth]) VALUES (2, 1, N'Kevin', N'De Bruyne', N'MF', 17, N'Belgium', CAST(N'1991-06-28' AS Date))
INSERT [dbo].[Players] ([Id], [ClubId], [Name], [Surname], [Position], [JerseyNumber], [Nationality], [DateOfBirth]) VALUES (3, 1, N'Rúben', N'Dias', N'DF', 3, N'Portugal', CAST(N'1997-05-14' AS Date))
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Referees] ON 

INSERT [dbo].[Referees] ([Id], [Name], [Surname], [ExperienceLevel], [Nationality]) VALUES (1, N'Szymon', N'Marciniak', 24, N'Polish')
INSERT [dbo].[Referees] ([Id], [Name], [Surname], [ExperienceLevel], [Nationality]) VALUES (2, N'Michael', N'Oliver', 22, N'English')
INSERT [dbo].[Referees] ([Id], [Name], [Surname], [ExperienceLevel], [Nationality]) VALUES (3, N'Chris', N'Kavanagh', 15, N'Sloveian')
SET IDENTITY_INSERT [dbo].[Referees] OFF
GO
SET IDENTITY_INSERT [dbo].[Stadiums] ON 

INSERT [dbo].[Stadiums] ([Id], [Name], [Capacity], [PitchType], [Location]) VALUES (1, N'Baku Olympic Stadium', 68700, N'Grass', N'Heydar Aliyev Ave 323')
INSERT [dbo].[Stadiums] ([Id], [Name], [Capacity], [PitchType], [Location]) VALUES (2, N'Tofiq Bahramov Stadium', 31200, N'Natural Grass', N'Fatali Khan Khoyski 10')
INSERT [dbo].[Stadiums] ([Id], [Name], [Capacity], [PitchType], [Location]) VALUES (3, N'Azersun Arena', 5800, N'Natural Grass', N'Yeni Suraxani')
SET IDENTITY_INSERT [dbo].[Stadiums] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ClubName]    Script Date: 28-Feb-26 12:18:40 PM ******/
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [UQ_ClubName] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PlayerJersey]    Script Date: 28-Feb-26 12:18:40 PM ******/
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [UQ_PlayerJersey] UNIQUE NONCLUSTERED 
(
	[ClubId] ASC,
	[JerseyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_StadiumName]    Script Date: 28-Feb-26 12:18:40 PM ******/
ALTER TABLE [dbo].[Stadiums] ADD  CONSTRAINT [UQ_StadiumName] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_Clubs] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Clubs] ([Id])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_Clubs]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_Matches] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_Matches]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_Players]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Clubs] FOREIGN KEY([FirstTeamId])
REFERENCES [dbo].[Clubs] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Clubs]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Clubs1] FOREIGN KEY([SecondTeamId])
REFERENCES [dbo].[Clubs] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Clubs1]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Referees] FOREIGN KEY([RefereeId])
REFERENCES [dbo].[Referees] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Referees]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Stadiums] FOREIGN KEY([StadiumId])
REFERENCES [dbo].[Stadiums] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Stadiums]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Clubs] FOREIGN KEY([ClubId])
REFERENCES [dbo].[Clubs] ([Id])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Clubs]
GO
